    <div class="row">
      <div class="col-med-12">
        <h1 class="page-header">Cities We Serve</h1>
        <table class="table">
          <thead>
            <tr>
              <th>City</th>
              <th>Airport Code</th>
              <th>Information</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chicago</td>
              <td>ORD</td>
              <td>O'Hare Airport.  4 miles of runway. 400 miles of taxiways.</td>
            </tr>
            <tr>
              <td>Chicago</td>
              <td>MDW</td>
              <td>Midway Airport.  Home of monsters.</td>
            </tr>
            <tr>
              <td>New York</td>
              <td>JFK</td>
              <td>JFK Airport.</td>
            </tr>
            <tr>
              <td>Los Angeles</td>
              <td>LAX</td>
              <td>Los Angeles Airport.</td>
            </tr>
            <tr>
              <td>San Francisco</td>
              <td>SFO</td>
              <td>On the bay.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy;2013 OneWay Airlines</p>
    </footer>
  </div> <!-- /container -->


</body>
</html>
