th, td {
  text-align: center;
}
table thead tr th {
  color: black;
  font-family: 'Helvetica'
}

#flight-search select {
  margin-left: 6px;
  margin-right: 24px;
}

#flight-search input {
  margin-left: 6px;
}

.label {
  margin-right: 12px;
}

ol li {
  line-height: 180%;
}
